body {
	padding-top: 50px;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-image: url("http://cdn.pcwallart.com/images/real-colors-of-the-rainbow-wallpaper-4.jpg");
	background-image: url("http://image.shutterstock.com/z/stock-photo-abstract-sky-blue-blurred-background-smooth-gradient-texture-color-shiny-bright-website-pattern-291721619.jpg");
	background-image: url("http://previews.123rf.com/images/melpomen/melpomen1501/melpomen150100113/35372051-Bright-pink-small-lights-abstract-gradient-background-Stock-Photo.jpg");
	background-image: url("http://previews.123rf.com/images/schrades/schrades1502/schrades150200001/36488277-A-textured-fog-and-cloud-background-with-a-bright-high-key-blue-to-yellow-gradient-Images-displays-a-Stock-Photo.jpg");
	background-image: url("https://samuelthomas.ml/static/background2.jpg");
	background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/maple-leaves-background.jpg");
	background-image: url("https://cdn.pixabay.com/photo/201/12/13/14/08/checkerboard-1091153_960_720.png");
	background-image: url("../images/checkerboard-1091153_1280.png");
	background-image: url("../images/colors-1503418_1280.png");
	background-image: url("../images/abstract-1483988_1920.png");
	background-image: url("../images/bokeh-1123787_1920.jpg");
	background-image: url("../images/mosaic-1539956_1920.jpg");
	background-image: url("../images/abstract-1483995_1920.jpg");
	background-image: url("../images/abstract-16044_1920.jpg");
	background-image: url("../images/low-poly-1094512_1280.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.page {
	position: relative;
}

.gray-background {
	background: #eeeeee;
}

.octicon {
	vertical-align: middle;
}

.btn-primary .octicon {
	fill: #ffffff;
}

.blur-background {
	-webkit-backdrop-filter: blur(20px) brightness(130%);
	backdrop-filter: blur(20px) brightness(130%);
}

h2 {
	word-wrap: break-word;
}

.footer {
	margin-top: 30px;
	margin-bottom: 100px;
}

.footer .container {
	padding-top: 10px;
}

html:not(.js) .js,
html.js .no-js {
	display: none;
}
