body {
    padding-top: 50px;
    font-size: 14px;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url("../images/abstract-background-with-a-3d-pattern_1319-68.jpg");
    will-change: background-position;
}

.page {
    position: relative;
}

.jumbotron {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075);
    background-color: #fbfbfb;
    font-size: 1.2rem;
    font-weight: 200;
    border-radius: 0;
}

.navbar-default {
    background-color: #fbfbfb;
    box-shadow: 0px 1px 10px rgba(251, 251, 251, 0.75);
}

/* .navbar-default replaces .navbar-light or .navbar-dark */
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.9);
}
.navbar-default .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-default .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav .nav-link:focus,
.navbar-default .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
}
.navbar-default .navbar-nav .active > .nav-link,
.navbar-default .navbar-nav .nav-link.active,
.navbar-default .navbar-nav .nav-link.show,
.navbar-default .navbar-nav .show > .nav-link {
    color: rgba(0, 0, 0, 0.9);
}

.dropdown-item {
    white-space: normal;
}

.navbar.fixed-top + .jumbotron {
    margin-top: -51px;
}
.navbar.fixed-top + .jumbotron > .container {
    margin-top: 51px;
}

@media screen and (max-width: 768px) {
    .navbar-collapse {
        margin-top: 0.5rem;
        margin-bottom: -0.5rem;
    }

    .fixed-top .navbar-collapse {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .page::before {
        content: '';

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1020;
        pointer-events: none;

        transition: opacity 0.4s ease;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .navbar-open {
        overflow: hidden;
    }
    .navbar-open .page::before {
        opacity: 1;
        pointer-events: all;
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav > li > .dropdown-menu {
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.btn-default {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.btn-default:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}
.btn-default.focus,
.btn-default:focus {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}
.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.show > .btn-default.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}
.btn-default:not(:disabled):not(.disabled).active:focus,
.btn-default:not(:disabled):not(.disabled):active:focus,
.show > .btn-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}

.gray-background {
    background: #eeeeee;
}

.octicon, svg.icon-gitlab {
    vertical-align: middle;
}

h3 .octicon,
.alert .octicon,
.btn .octicon,
.badge .octicon,
.btn svg.icon-gitlab,
.badge svg.icon-gitlab,
.btn svg.icon-npm,
.badge svg.icon-npm,
.btn svg.icon-composer,
.badge svg.icon-composer {
    fill: currentcolor;
    vertical-align: -3px;
}

.section.blur-background,
.section-header {
    margin-top: 2rem;
}
.section-header {
    margin-top: 3rem;
}

.section-header-2 {
    margin-top: 2rem;
}

.section .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.image {
    margin: 1rem 0;
    text-align: center;
    max-height: 300px;
    overflow: hidden;
}
.image img {
    max-width: 100%;
}

.h2, h2 {
    font-size: 1.75rem;
}
.h3, h3 {
    font-size: 1.5rem;
}

.section h2 .btn-group,
.section .section h3 .btn-group {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .section .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .section h2 .btn-group {
        margin-left: 10px;
    }
}

.section:not(.blur-background) > .container {
    padding-top: 0;
    padding-bottom: 0;
}
.section .section {
    padding: 1.25rem 1.25rem 0.5rem;
    border-radius: 3px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.9);
}

@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
    .blur-background {
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(20px) brightness(130%);
        backdrop-filter: blur(20px) brightness(130%);
    }

    @media (prefers-reduced-motion) {
        .blur-background {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.anchor {
    position: relative;
    top: -70px;
}

.btn.disabled,
.btn:disabled {
    cursor: not-allowed;
}

.icon-facebook, .icon-twitter, .icon-reddit, .icon-github, .icon-gitlab:not(svg), .icon-keybase, .icon-discord, .icon-mastodon {
    font-size: 0px;
    background: center no-repeat / 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0px !important;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease;
}
.icon-facebook:hover, .icon-twitter:hover, .icon-reddit:hover, .icon-github:hover, .icon-gitlab:not(svg):hover, .icon-keybase:hover, .icon-discord:hover, .icon-mastodon:hover,
.icon-facebook.ui-draggable-dragging, .icon-twitter.ui-draggable-dragging, .icon-reddit.ui-draggable-dragging, .icon-github.ui-draggable-dragging,
.icon-keybase.ui-droppable-hover {
    transform: scale(1.1);
}
.jumbotron .icon-facebook, .jumbotron .icon-twitter, .jumbotron .icon-reddit, .jumbotron .icon-github, .jumbotron .icon-gitlab:not(svg), .jumbotron .icon-keybase, .jumbotron .icon-discord, .jumbotron .icon-mastodon {
    background-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.icon-facebook a, .icon-twitter a, .icon-reddit a, .icon-github a, .icon-gitlab:not(svg) a, .icon-keybase a, .icon-discord a, .icon-mastodon a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.icon-facebook {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg");
}
.icon-twitter {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg");
}
.icon-reddit {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/reddit.svg");
}
.icon-github {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg");
}
.icon-gitlab:not(svg) {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gitlab.svg");
}
.icon-keybase {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/keybase.svg");
}
.icon-discord {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/discord.svg");
}
.icon-mastodon {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/mastodon.svg");
}

* {
    word-wrap: break-word;
}

.footer {
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.footer .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.footer .container > p:last-child {
    margin-bottom: 0;
}

html:not(.js) .js,
html.js .no-js {
    display: none;
}
html:not(.js) .btn-group > .btn.btn-group-last-js {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: 0.2rem;
}

html.js .fade-in-on-scroll {
    visibility: hidden;
    opacity: 0;
}
html.js .done-fade-in-on-scroll {
    visibility: visible;
    opacity: 1;
}
.fade-in-on-scroll-animate {
    opacity: 1;
    transform: translateY(0);
    animation: 0.5s ease fade-in-on-scroll;
}
@media (prefers-reduced-motion) {
    .fade-in-on-scroll-animate {
        animation-name: fade-in-on-scroll-reduced-motion;
    }
}

@keyframes fade-in-on-scroll {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-on-scroll-reduced-motion {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html:not(.js) .fade-out-on-scroll {
    display: none;
}
html.js .fade-out-on-scroll,
html.js .done-fade-out-on-scroll {
    position: absolute;
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #000000;
    }

    body,
    .navbar-brand {
        color: #cccccc;
    }

    .background {
        background-image: url('../images/Hexagon-layered-seamless-pattern-vector-material-03.jpg');
    }

    .navbar-default {
        background-color: #040404;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.75);
    }

    .navbar-default .navbar-brand,
    .navbar-default .navbar-brand:focus,
    .navbar-default .navbar-brand:hover {
        color: #fff;
    }
    .navbar-default .navbar-toggler {
        color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 0.1);
    }
    .navbar-default .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-default .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 0.5);
    }
    .navbar-default .navbar-nav .nav-link:focus,
    .navbar-default .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    .navbar-default .navbar-nav .active > .nav-link,
    .navbar-default .navbar-nav .nav-link.active,
    .navbar-default .navbar-nav .nav-link.show,
    .navbar-default .navbar-nav .show > .nav-link {
        color: #fff;
    }

    .dropdown-menu {
        background-color: #000000;
        border-color: rgba(255, 255, 255, 0.15);
    }
    .dropdown-menu .dropdown-divider {
        border-top-color: #1a1a1a;
    }
    .dropdown-header {
        color: #888888;
    }
    .dropdown-menu > .dropdown-item {
        color: #cccccc;
    }
    .dropdown-menu > .dropdown-item:hover,
    .dropdown-menu > .dropdown-item:focus {
        background-color: #171717;
        color: #d9d9d9;
    }
    .dropdown-item.disabled,
    .dropdown-item:disabled {
        color: #6c757d;
    }

    .jumbotron {
        background-color: #040404;
        color: #fbfbfb;
    }

    .blur-background {
        background-color: rgba(0, 0, 0, 0.9);
    }

    @supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
        .blur-background {
            background-color: rgba(0, 0, 0, 0.2);
            -webkit-backdrop-filter: blur(20px) brightness(30%);
            backdrop-filter: blur(20px) brightness(30%);
        }

        @media (prefers-reduced-motion) {
            .blur-background {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .btn-default {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }
    .btn-default:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
    }
    .btn-default.focus,
    .btn-default:focus {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
        box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    }
    .btn-default:not(:disabled):not(.disabled).active,
    .btn-default:not(:disabled):not(.disabled):active,
    .show > .btn-default.dropdown-toggle {
        color: #fff;
        background-color: #1d2124;
        border-color: #171a1d;
    }
    .btn-default:not(:disabled):not(.disabled).active:focus,
    .btn-default:not(:disabled):not(.disabled):active:focus,
    .show > .btn-default.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
    }

    pre {
        color: #cccccc;
    }

    .form-control {
        background-color: #000000;
        border-color: #333333;
        color: #aaaaaa;
    }
    .form-control:focus {
        background-color: #000000;
        color: #aaaaaa;
    }

    .icon-facebook, .icon-twitter, .icon-reddit, .icon-github, .icon-gitlab:not(svg), .icon-keybase, .icon-discord, .icon-mastodon {
        filter: invert(1);
    }

    .gray-background {
        background-color: #111111;
        color: #eeeeee;
    }
}
