body {
    padding-top: 50px;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-image: url("../images/abstract-background-with-a-3d-pattern_1319-68.jpg");
}

.page {
    position: relative;
}

.jumbotron {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075);
    background-color: #fbfbfb;
}

.navbar.navbar-fixed-top + .jumbotron {
    margin-top: -51px;
}
.navbar.navbar-fixed-top + .jumbotron > .container {
    margin-top: 51px;
}

@media screen and (max-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: calc(100vh - 100px);
    }

    .page::before {
        content: '';

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1020;
        pointer-events: none;

        transition: opacity 0.4s ease;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .navbar-open {
        overflow: hidden;
    }
    .navbar-open .page::before {
        opacity: 1;
        pointer-events: all;
    }
}
@media screen and (min-width: 768px) {
    .navbar-nav > li > .dropdown-menu {
        max-height: calc(100vh - 100px);
        overflow-y: scroll;
    }
}

.gray-background {
    background: #eeeeee;
}

.octicon, svg.icon-gitlab {
    vertical-align: middle;
}

.btn .octicon,
.label .octicon,
.btn svg.icon-gitlab,
.label svg.icon-gitlab {
    fill: currentcolor;
    vertical-align: -3px;
}

.section,
.section-header {
    margin-bottom: 20px;
}

.section .container {
    padding-bottom: 10px;
}

.section h2 .btn-group,
.section .section h3 .btn-group {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .section .container {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .section h2 .btn-group {
        margin-left: 10px;
    }
}

.section .section {
    padding: 0px 20px 10px;
    border-radius: 3px;
}

.blur-background {
    background-color: rgba(255, 255, 255, 0.9);
}

@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
    .blur-background {
        background-color: rgba(255, 255, 255, 0.2);
        -webkit-backdrop-filter: blur(20px) brightness(130%);
        backdrop-filter: blur(20px) brightness(130%);
    }

    @media (prefers-reduced-motion) {
        .blur-background {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
}

.anchor {
    position: relative;
    top: -70px;
}

.icon-facebook, .icon-twitter, .icon-reddit, .icon-github, .icon-gitlab:not(svg), .icon-keybase, .icon-discord, .icon-mastodon {
    font-size: 0px;
    background: center no-repeat / 20px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding: 0px !important;
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.2s ease;
}
.icon-facebook:hover, .icon-twitter:hover, .icon-reddit:hover, .icon-github:hover, .icon-gitlab:not(svg):hover, .icon-keybase:hover, .icon-discord:hover, .icon-mastodon:hover,
.icon-facebook.ui-draggable-dragging, .icon-twitter.ui-draggable-dragging, .icon-reddit.ui-draggable-dragging, .icon-github.ui-draggable-dragging,
.icon-keybase.ui-droppable-hover {
    transform: scale(1.1);
}
.jumbotron .icon-facebook, .jumbotron .icon-twitter, .jumbotron .icon-reddit, .jumbotron .icon-github, .jumbotron .icon-gitlab:not(svg), .jumbotron .icon-keybase, .jumbotron .icon-discord, .jumbotron .icon-mastodon {
    background-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}
.icon-facebook a, .icon-twitter a, .icon-reddit a, .icon-github a, .icon-gitlab:not(svg) a, .icon-keybase a, .icon-discord a, .icon-mastodon a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.icon-facebook {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/facebook.svg");
}
.icon-twitter {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg");
}
.icon-reddit {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/reddit.svg");
}
.icon-github {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg");
}
.icon-gitlab:not(svg) {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/gitlab.svg");
}
.icon-keybase {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/keybase.svg");
}
.icon-discord {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/discord.svg");
}
.icon-mastodon {
    background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/mastodon.svg");
}

* {
    word-wrap: break-word;
}

.footer {
    margin-top: 30px;
    margin-bottom: 100px;
}

.footer .container {
    padding-top: 10px;
}

html:not(.js) .js,
html.js .no-js {
    display: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #cccccc;
    }

    .background {
        background-image: url('../images/Hexagon-layered-seamless-pattern-vector-material-03.jpg');
    }

    .navbar-default {
        background-image: -webkit-linear-gradient(top, #070707 0, #000000 100%);
        background-image: -o-linear-gradient(top, #070707 0, #000000 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#070707), to(#000000));
        background-image: linear-gradient(#070707, #000000);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff070707', endColorstr='#ff000000', GradientType=0);
        -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(255, 255, 255, 0.075);
        box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15), 0 1px 5px rgba(255, 255, 255, 0.075);

        border-color: #181818;
    }
    .navbar-default .navbar-brand {
        color: #a1a1a1;
    }
    .navbar-default .navbar-nav > li > a {
        color: #888888;
        text-shadow: rgba(0, 0, 0, 0.25);
    }
    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #cccccc;
    }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        background-image: -webkit-linear-gradient(top, #292929 0, #242424 100%);
        background-image: -o-linear-gradient(top, #292929 0, #242424 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#292929), to(#242424));
        background-image: linear-gradient(to bottom, #292929 0, #242424 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff292929', endColorstr='#ff242424', GradientType=0);
        -webkit-box-shadow: inset 0 3px 9px rgba(255, 255, 255, 0.075);
        box-shadow: inset 0 3px 9px rgba(255, 255, 255, 0.075);

        color: #aaaaaa;
    }

    .dropdown-menu {
        background-color: #000000;
        border-color: rgba(255, 255, 255, 0.15);
    }
    .dropdown-menu .divider {
        background-color: #1a1a1a;
    }
    .dropdown-header {
        color: #888888;
    }
    .dropdown-menu > li > a {
        color: #cccccc;
    }
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus {
        background-image: -webkit-linear-gradient(top, #171717 0, #0a0a0a 100%);
        background-image: -o-linear-gradient(top, #171717 0, #0a0a0a 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#0a0a0a));
        background-image: linear-gradient(to bottom, #171717 0, #0a0a0a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff171717', endColorstr='#ff0a0a0a', GradientType=0);
        background-color: #171717;

        color: #d9d9d9;
    }

    .jumbotron {
        background-color: #040404;
        color: #fbfbfb;
    }

    .blur-background {
        background-color: rgba(0, 0, 0, 0.9);
    }

    @supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
        .blur-background {
            background-color: rgba(0, 0, 0, 0.2);
            -webkit-backdrop-filter: blur(20px) brightness(30%);
            backdrop-filter: blur(20px) brightness(30%);
        }

        @media (prefers-reduced-motion) {
            .blur-background {
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .btn-default {
        background-image: -webkit-linear-gradient(top, #1f1f1f 0, #000000 100%);
        background-image: -o-linear-gradient(top, #1f1f1f 0, #000000 100%);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#000000));
        background-image: linear-gradient(to bottom, #1f1f1f 0, #000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f1f1f', endColorstr='#ff000000', GradientType=0);
        text-shadow: 0 1px 0 #000000;
        border-color: #333333;

        background-color: #000000;
        color: #cccccc;
    }
    .btn-default:hover,
    .btn-default:focus {
        color: #cccccc;
        background-color: #0b0b0b;
        border-color: #525252;
    }
    .btn-default:active {
    color: #cccccc;
        background-color: #1f1f1f;
        border-color: #242424;
    }
    .btn-default:active:hover {
        color: #cccccc;
        background-color: #2b2b2b;
        border-color: #737373;
    }
    .btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus,
    .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover,
    .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus,
    .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus,
    fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
        background-color: #1f1f1f;
    }
    .btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover,
    .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover,
    fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
        border-color: #333333;
    }

    pre {
        background-color: #0a0a0a;
        border-color: #333333;
        color: #cccccc;
    }

    .form-control {
        background-color: #000000;
        border-color: #333333;
        color: #aaaaaa;
    }

    .icon-facebook, .icon-twitter, .icon-reddit, .icon-github, .icon-gitlab:not(svg), .icon-keybase, .icon-discord, .icon-mastodon {
        filter: invert(1);
    }

    .gray-background {
        background-color: #111111;
        color: #eeeeee;
    }
}
