---
---

body {
	padding-top: 50px;
}

.background {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	
	background-image: url("../images/abstract-background-with-a-3d-pattern_1319-68.jpg");
}

.page {
	position: relative;
}

.jumbotron {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.075);
	background-color: #fbfbfb;
	
	.navbar.navbar-fixed-top + & {
		margin-top: -51px;
		
		> .container {
			margin-top: 51px;
		}
	}
}

.gray-background {
	background: #eeeeee;
}

.octicon {
	vertical-align: middle;
	
	.btn-primary &,
	.label & {
		fill: currentcolor;
		vertical-align: -3px;
	}
}

.section,
.section-header {
	margin-bottom: 20px;
}

.section {
	.container {
		padding-bottom: 10px;
	}
	
	h2 .btn-group,
	.section h3 .btn-group {
		margin-bottom: 15px;
	}
	
	@media screen and (min-width: 768px) {
		.container {
			padding-top: 10px;
			padding-bottom: 20px;
		}
		
		h2 .btn-group {
			margin-left: 10px;
		}
	}
	
	.section {
		padding: 0px 20px 10px;
		border-radius: 3px;
	}
}

.blur-background {
	background-color: rgba(255, 255, 255, 0.9);
	
	@supports (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px)) {
		background-color: rgba(255, 255, 255, 0.2);
		-webkit-backdrop-filter: blur(20px) brightness(130%);
		backdrop-filter: blur(20px) brightness(130%);
		
		@media (prefers-reduced-motion) {
			background-color: rgba(255, 255, 255, 0.5);
		}
	}
}

.anchor {
	position: relative;
	top: -70px;
}

@mixin icon {
	font-size: 0px;
	background: center no-repeat / 20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	vertical-align: middle;
	padding: 0px !important;
	display: inline-block;
	margin-left: 5px;
	transition: transform 0.2s ease;
	
	&:hover,
	&.ui-draggable-dragging,
	&.ui-droppable-hover {
		transform: scale(1.1);
	}
	
	.jumbotron & {
		background-size: 22px;
		width: 22px;
		height: 22px;
		line-height: 22px;
	}
	
	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

@each $i in ('facebook', 'twitter', 'reddit', 'github', 'keybase', 'discord') {
	.icon-#{$i} {
		@include icon;
		background-image: url("https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/#{$i}.svg");
	}
}

* {
	word-wrap: break-word;
}

.footer {
	margin-top: 30px;
	margin-bottom: 100px;
	
	.container {
		padding-top: 10px;
	}
}

html:not(.js) .js,
html.js .no-js {
	display: none;
}
