<footer class="footer gray-background">
    <div class="container">
        <p>Proudly presented by myself.</p>
        <p>Copyright &copy; 2018 Samuel Elliott</p>
        <p>This site is available at <a href="https://samuelelliott.ml">https://samuelelliott.ml</a> and on Tor at <a href="http://selliottuzpeu4ry.onion">http://selliottuzpeu4ry.onion</a>.</p>
        <p>This website's source code is hosted at <a href="https://github.com/samuelthomas2774/samuelthomas2774.github.io">https://github.com/samuelthomas2774/samuelthomas2774.github.io</a>.</p>
    </div>
</footer>
