<h1>Samuel Elliott</h1>
<p>16 year old web developer in Milton Keynes, UK.</p>
<p>I design websites, write, test and play with code and administer servers.</p>

<ul class="list-inline">
    <li class="icon-facebook" data-keybase-url="https://www.facebook.com/samuelthomas2774/posts/821319944715760"><a href="https://facebook.com/samuelthomas2774">Facebook</a></li>
    <li class="icon-twitter" data-keybase-url="https://twitter.com/_samuelelliott/status/941786718717530112"><a href="https://twitter.com/_samuelelliott">Twitter</a></li>
    <li class="icon-reddit" data-keybase-url="https://www.reddit.com/r/KeybaseProofs/comments/6pfy0k/my_keybase_proof_redditsamuelthomas2774/"><a href="https://reddit.com/user/samuelthomas2774/">Reddit</a></li>
    <li class="icon-github" data-keybase-url="https://gist.github.com/1d1db601607a025b3ca3a030dac8b20c"><a href="https://github.com/samuelthomas2774">GitHub</a></li>
    <li class="icon-keybase"><a href="https://keybase.io/samuelthomas2774">Keybase</a></li>
    <li class="icon-discord"><a href="https://discordapp.com/invite/qc9SZwq">Discord</a></li>
</ul>
