<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed js" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ "/" | relative_url }}">Samuel Elliott</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% unless page.url == "/" %}
                    {% assign index_url = "/" | relative_url %}
                {% endunless %}
                
                <li class="{% if page.url == "/" %}active {% endif %}js"><a href="#html" onclick="window.location.href = '{{ "/" | relative_url }}'; event.preventDefault(); return false;">samuelthomas2774.github.io</a></li>
                <li class="{% if page.url == "/" %}active {% endif %}no-js"><a href="{{ "/" | relative_url }}">samuelthomas2774.github.io</a></li>
                <li><a href="https://samuelthomas.ml">samuelthomas.ml</a></li>
                <li><a href="{{ index_url }}#contact">Contact</a></li>
                <li><a href="https://github.com/samuelthomas2774">GitHub</a></li>
                
                <li class="dropdown js" id="navbar-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Projects</li>
                        <li><a href="{{ index_url }}#devs-samuelthomas-ml">devs.samuelthomas.ml</a></li>
                        <li><a href="{{ index_url }}#samuelthomas-ml-v4">samuelthomas.ml v4</a></li>
                        <li><a href="{{ index_url }}#oauth-client">OAuth Client</a></li>
                        <li><a href="{{ index_url }}#asteroid">Asteroid</a></li>
                        <li><a href="{{ index_url }}#asteroid-database-objects">Asteroid Database Objects</a></li>
                        <li><a href="{{ index_url }}#jquery-emoji">jQuery Emoji</a></li>
                        <li><a href="{{ index_url }}#jquery-icons">jQuery Icons</a></li>
                        <li><a href="{{ index_url }}#project-w">Project W</a></li>
                        <li><a href="{{ index_url }}#bd-fixes">BetterDiscord CSS fixes</a></li>
                        <li><a href="{{ index_url }}#bd-hide-sidebars">BetterDiscord Hide Sidebars</a></li>
                        <li class="divider" role="separator"></li>
                        
                        <li class="dropdown-header">Contributing to</li>
                        <li><a href="{{ index_url }}#betterdiscord">BetterDiscord v2</a></li>
                        <li class="divider" role="separator"></li>
                        
                        <li class="dropdown-header">Other</li>
                        <li><a href="{{ index_url }}#airport">airport</a></li>
                        <li><a href="{{ index_url }}#thewalnutspi">The Walnuts Pi</a></li>
                        <li class="divider" role="separator"></li>
                        
                        <li class="dropdown-header">Business websites</li>
                        <li><a href="{{ index_url }}#eelliottfineart">Emily Elliott's Fine Art</a></li>
                        <li><a href="{{ index_url }}#celliottbuilding">C Elliott Building Ltd</a></li>
                        <li class="divider" role="separator"></li>
                        
                        <li><a href="https://github.com/samuelthomas2774/samuelthomas2774.github.io">samuelthomas2774.github.io on GitHub</a></li>
                        <li class="divider" role="separator"></li>
                        
                        <li><a href="javascript:$.fadein.reset();">Reset scrolling animation</a></li>
                        <li><a href="javascript:$('html,body').scrollTop(0);">Scroll to the top</a></li>
                        <li><a href="javascript:$('html,body').scrollTop(0);$.fadein.reset();">Scroll to the top and reset scrolling animation</a></li>
                        <li><a href="javascript:history.pushState(null, null, window.location.pathname + window.location.search);">Delete url hash</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>
